<div class="row">
  <div class="col-md-12">
    <form [formGroup]="passwordUpdateForm">
      <div class="form-group row">
        <label for="username" class="col-4 col-form-label">Old Password</label>
        <div class="col-8">
          <input type="password" formControlName="oldPass" class="form-control here"
            [ngClass]="{'is-invalid': submitted && f.oldPass.errors}" />
          <div *ngIf="submitted && f.oldPass.errors" class="invalid-feedback">
            <div *ngIf="f.oldPass.errors.required">Old password is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="text" class="col-4 col-form-label">New Password</label>
        <div class="col-8">
          <input type="password" formControlName="newPass" class="form-control here"
            [ngClass]="{'is-invalid': submitted && f.newPass.errors}" />
          <div *ngIf="submitted && f.newPass.errors" class="invalid-feedback">
            <div *ngIf="f.newPass.errors.required">New password is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-4 col-8">
          <button type="submit" (click)="OnSubmit()" class="btn btn-primary" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Change Password
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="success" class="alert alert-success col-md-12" role="alert">
    Successfully changed password!
    <a href="#" class="close" (click)="removeAlert($event)">&times;</a>
  </div>
  <div *ngIf="error" class="alert alert-danger col-md-12" role="alert">
    Error!
    <a href="#" class="close" (click)="removeAlert($event)">&times;</a>
  </div>
</div>
