<ng-container *ngIf="article">

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{article.title}}</h1>

        <!--Tags-->
        <ng-container *ngFor="let tag of article.tags">
          <a [routerLink]="['/search']" [queryParams]="{tags:tag.name}" class="tag">{{tag.name}}</a>
        </ng-container>
        <!-- Author -->
        <p class="lead">
          by <a [routerLink]="['/users/', article.authorId]">{{article.authorUsername}}</a>
          in <a [routerLink]="['/blogs/', article.blogId]">{{article.blogName}}</a>
        </p>

        <hr>
        <!-- Date/Time -->
        <p>Posted on {{article.lastUpdated | date:"longDate"}} at {{article.lastUpdated | date:"HH:mm"}}</p>

        <hr>

        <ng-container *ngIf="article.imageUrl">
          <!-- Preview Image -->
          <img class="img-fluid rounded" width="900" [src]="article.imageUrl" alt="">

          <hr>
        </ng-container>


        <!-- Post Content -->
        <div [innerHTML]="article.content"></div>

        <hr>

        <!-- Comments Form -->
        <app-comment-form *ngIf="user" [articleId]="article.id" (onPost)="onCommentPost($event)"></app-comment-form>

        <app-comment-list [comments]="article.comments" (onDelete)="onCommentDelete($event)"></app-comment-list>



      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <app-search-widget></app-search-widget>


        <!-- Categories Widget -->
        <app-categories-widget></app-categories-widget>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            Something here.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</ng-container>
