<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <div class="list-group ">
        <ng-container *ngFor="let tab of tabs; let i = index">
          <a href="#" (click)="changeTab($event, i + 1)" [ngClass]="{'active': selectedTab == i + 1}"
            class="list-group-item list-group-item-action">{{tab}}</a>
        </ng-container>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Your Profile</h4>
              <hr>
            </div>
          </div>


          <ng-container *ngIf="user">
            <app-profile-settings [user]="user" [hidden]="selectedTab != 1"></app-profile-settings>
            <app-profile-password [user]="user" [hidden]="selectedTab != 2"></app-profile-password>
            <app-profile-avatar [user]="user" [hidden]="selectedTab != 3"></app-profile-avatar>
          </ng-container>


        </div>
      </div>
    </div>
  </div>
</div>
